# Environment Variables (Keep these out of GitHub!)
.env
.env.local

# Virtual Environments
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# Python Cache & Compiled Files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
dist/
build/
*.egg-info/

# Editor / OS Specific
.vscode/
.idea/
.DS_Store
Thumbs.db
*.zip